@media(max-width: 375px){
  .card {
    flex-direction: column;
    width: 90%;
    height: 90%;
  }

  .card-image {
    background-image: url(./images/image-product-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 40%;
    border-radius: 10px 10px 0 0;
  }
  .card-content {
    width: 100%;
    border-radius: 0 0 10px 10px;
  }
  .card-content .short-title {
    margin-bottom: 1rem;
  }
  .card-content .main-title {
    margin-bottom: 1rem;
  }
}